html { 
  height: 100% 
}

body { 
  height: 100%; 
  width: 100%;
  margin: 0; 
}

header {
  background: #2a5583;
  color: white;
  padding: 10px;
  height: 60px;
}

h1 {
  margin: 10px auto 10px;
  position: relative;
  text-align: center;
}

h3, .find-doctor {
  display: block;
}

#map-canvas { 
  height: 70%; 
  width: 40%;
  float: left;
  margin: 20px;
}

.doctor-list {
  width: 40%;
  padding: 20px;
  margin: 20px 30px 20px;
  height: 65%;
  display: inline-block;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 4px;
  overflow: scroll;
}

ol, li {
  padding: 20px;
}

.address-input {
  width: 300px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
}

.submit {
  width: 65px;
  height: 37px;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #2a5583;
}

.submit:hover {
  color: #2a5583;
  background-color: #fff;
}

strong {
 color: #2a5583; 
}
